---
import Resume from '../components/Resume.md';
import Layout from '../layouts/Layout.astro';
import profilePicture from '../assets/images/profile.jpg';

---

<Layout bodyClass="Profile" contentlass="Formatted">
  <p>
    <img src={profilePicture.src}>
  </p>

  <p>Hi. I'm Blake!</p>

  <Resume />
</Layout>



