---
import ResumeContent from '../content/Resume.md';
import Layout from '../layouts/Layout.astro';
---

<Layout bodyClass="Profile" contentClass="formatted">
  <p>
    blake@blake-walters.com
  </p>

  <ResumeContent />
</Layout>
