<% wrap_layout :layout do %>
  <section class="GR G4" style="margin-top: 2em">
    <article>
      <header>
        <h1><%= current_page.title %></h1>
        <h2>
          Penned on <time><%= current_page.date.strftime('%B %e, %Y') %></time>.
        </h2>
      </header>
      <div class="formatted">
        <%= current_page.body %>
      </div>
    </article>
  </section>
<% end %>
