---
const { bodyClass, contentClass } = Astro.props;
import "../assets/stylesheets/markupboy.scss"
---

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 lte8 lte7 lte6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 lte8 lte7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 lte8"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

<head>
  <!-- TODO: titles -->
  <title>Blake Walters</title>

  <meta charset="utf-8">

  <meta name="description" content="Markupboy.com is the personal site of Blake Walters — engineering director, product development nerd, and classically trained front-end engineer hailing from a time when the font tag was acceptable." />
  <meta name="keywords" content="engineering management, technology, markup, web standards, apple, css, javascript, html, jquery, python, django, web design, web development" />
  <meta name="viewport" content="width=device-width" />

  <link href='//fonts.googleapis.com/css?family=Andada' rel='stylesheet' type='text/css'>
</head>

 <body class={bodyClass}>

<div class="screen">

  <header>
    <h1 class="G3 GS">
      <a href="/">Blake Walters</a>
    </h1>

    <nav>
      <ul class="G1">
        <li>
          <h2 class="HSC">
            <a href="/readme">Readme</a>
          </h2>
        </li>
        <li>
          <h2 class="HSC">
            <a href="/contact">Contact</a>
          </h2>
        </li>
      </ul>
    </nav>
  </header>

  <div class={"content " + contentClass}>

    <slot />

  </div>

  <footer>
    <nav>
      <ul class="footerOne">
      <li class="G1">
          <h2 class="HSC">Professional</h2>
          <ul>
            <li>CircleCI</li>
            <li>
              <a href="https://www.circleci.com/">About</a>
            </li>
            <li>
              <a href="https://circleci.com/signup/">Start Building</a>
            </li>
          </ul>
        </li>
        <li class="G1">
          <h2 class="HSC">Personal</h2>
          <ul>
            <li>Blake Walters</li>
            <li>
              <a data-proofer-ignore href="https://www.linkedin.com/in/blakewalters/">LinkedIn</a>
            </li>
            <li>
              <a href="/contact">Contact me</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </footer>

</div>

<!-- </mß> -->

</body>

</html>
