# compress text, html, javascript, css, xml:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript

# Redirect if NOT markupboy.com (exactly) to markupboy.com
RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} ^www\.markupboy\.com
RewriteRule (.*) http://markupboy.com/$1 [R=301,L]

redirect 301 /blog/view/javascript_and_get_variables http://markupboy.com/blog/javascript-and-get-variables
redirect 301 /blog/view/removing_default_form_input_values_on_click http://markupboy.com/blog/removing-default-form-input-values--click
redirect 301 /blog/view/limiting_characters_in_a_textarea_with_jquery http://markupboy.com/blog/limiting-characters-in-a-textareaith-jquery
redirect 301 /blog/view/whats_in_my_bag http://markupboy.com/blog/whats-in-my-bag
redirect 301 /blog/view/sprockets http://markupboy.com/blog/sprockets
redirect 301 /blog/view/rules_for_computing_happiness http://markupboy.com/blog/rules-for-computing-happiness
redirect 301 /blog/view/firebug_1.4_alpha http://markupboy.com/blog/firebug-1.4-alpha
redirect 301 /blog/view/css_browser_support http://markupboy.com/blog/css-browser-support
redirect 301 /blog/view/fluid_grids http://markupboy.com/blog/fluid-grids
redirect 301 /blog/view/sexy_music_album_overlays http://markupboy.com/blog/sexy-music-album-overlays
redirect 301 /blog/view/use_the_p_element_to_create_paragraphs http://markupboy.com/blog/use-the-p-element-to-create-paragraphs
redirect 301 /blog/view/pronunciation_of_sifr http://markupboy.com/blog/pronunciation-of-sifr
redirect 301 /blog/view/the_5_ps_of_twitters_runaway_success http://markupboy.com/blog/the-5-ps-of-twitters-runaway-success
redirect 301 /blog/view/banishing_div_classclear http://markupboy.com/blog/banishing-lt-div-class-clear-gt
redirect 301 /blog/view/how_to_hold_a_daily_scrum http://markupboy.com/blog/how-to-hold-a-daily-scrum
redirect 301 /blog/view/almost_never_add_a_reset_button_to_a_form http://markupboy.com/blog/almost-never-add-a-reset-button-to-a-rm
redirect 301 /blog/view/css_101_-_text-image_replacement http://markupboy.com/blog/css-101-text-image-replacement
redirect 301 /blog/view/git_quicky_-_locally_ignore_files http://markupboy.com/blog/git-quicky-locally-ignore-files
redirect 301 /blog/view/newd_now_supports_googles_proposal_for_crawlable_ajax http://markupboy.com/blog/newd-now-supports-googlesroposal-for-crawlable-ajax
redirect 301 /blog/view/an_event_apart_-_chicago http://markupboy.com/blog/an-event-apart-chicago
redirect 301 /blog/view/a_better_method_for_clearing_default_form_input_values http://markupboy.com/blog/a-better-method-for-earing-default-form-input-values
redirect 301 /blog/view/jquery_101_-_the_slice_method http://markupboy.com/blog/jquery-101-the-slice-method
redirect 301 /blog/view/thick_with_witty_banter http://markupboy.com/blog/thick-with-witty-banter
redirect 301 /blog/view/the_seven_deadly_sins_of_javascript_implementation http://markupboy.com/blog/the-seven-deadly-sins-of-vascript-implementation
redirect 301 /blog/view/minimalist_star_wars_tourism_posters http://markupboy.com/blog/minimalist-star-wars-tourism-posters
redirect 301 /blog/view/christopher_bowns_dual-drive_setup http://markupboy.com/blog/christopher-bowns-dual-drive-setup
redirect 301 /blog/view/hosting_mail_with_google http://markupboy.com/blog/hosting-mail-with-google
redirect 301 /blog/view/shaun_inman_on_the_pipeline http://markupboy.com/blog/shaun-inman-on-the-pipeline
redirect 301 /blog/view/using_delegate_and_undelegate_in_jquery_1.4.2 http://markupboy.com/blog/using-delegate-and-undelegate-in-uery-1.4.2
redirect 301 /blog/view/ack_-_better_than_grep http://markupboy.com/blog/ack-better-than-grep
redirect 301 /blog/view/commafy_-_pretty_numbers_for_python http://markupboy.com/blog/commafy-pretty-numbers-for-python
redirect 301 /blog/view/devnation_falls_church http://markupboy.com/blog/devnation-falls-church
redirect 301 /blog/view/gruber_on_flash http://markupboy.com/blog/gruber-on-flash
redirect 301 /blog/view/forcing-tab-types-per-languages-in-textmate http://markupboy.com/blog/forcing-tab-types-per-languages-in-xtmate
redirect 301 /blog/view/jquery-niceties-dismissing-lightboxes http://markupboy.com/blog/jquery-niceties-dismissing-lightboxes
redirect 301 /projects/view/textmate-theme-handcrafted http://markupboy.com/source/textmate-theme-handcrafted
redirect 301 /blog/view/watermelon-dummy-images-in-textmate http://markupboy.com/blog/watermelon-dummy-images-in-textmate
redirect 301 /blog/view/google-says-so-long-to-h.264 http://markupboy.com/blog/google-says-so-long-to-h.264
redirect 301 /projects/view/dotfiles http://markupboy.com/source/dotfiles
redirect 301 /blog/view/zeldman-on-the-little-things http://markupboy.com/blog/zeldman-on-the-little-things
redirect 301 /blog/view/terminal-tip-copying-your-current-path-to-the-clipboard http://markupboy.com/blog/terminal-tip-copying-ur-current-path-to-the-clipboard
redirect 301 /blog/view/keeping-files-safe-and-synced http://markupboy.com/blog/keeping-files-safe-and-synced
redirect 301 /blog/view/daring-fireball-full-metal-jacket http://markupboy.com/blog/daring-fireball-full-metal-jacket
redirect 301 /blog/view/metagame-games-about-games http://markupboy.com/blog/metagame-games-about-games
redirect 301 /blog/view/truth-equality-and-javascript http://markupboy.com/blog/truth-equality-and-javascript
redirect 301 /blog/view/capistrano-deployment-test http://markupboy.com/blog/capistrano-deployment-test
redirect 301 /blog/view/clipboard-history-in-textmate http://markupboy.com/blog/clipboard-history-in-textmate
redirect 301 /blog/view/fun-pointless-console-trick http://markupboy.com/blog/fun-pointless-console-trick
redirect 301 /blog/view/dots-for-tots http://markupboy.com/blog/dots-for-tots
redirect 301 /projects/view/monthlee http://markupboy.com/source/monthlee
redirect 301 /blog/view/textmate-quicky-find-a-bundle-command http://markupboy.com/blog/textmate-quicky-find-a-bundle-command
redirect 301 /blog/view/federal-law-blocks-netflix-facebook-integration-but-should-it http://markupboy.com/blog/federal-law-ocks-netflix-facebook-integration-but-should-it
redirect 301 /blog/view/apples-new-display-isnt-friends-with-the-mac-pro http://markupboy.com/blog/apples-new-display-isnt-iends-with-the-mac-pro
redirect 301 /blog/view/toggling-vpn-with-applescript http://markupboy.com/blog/toggling-vpn-with-applescript
redirect 301 /blog/view/hours-are-bullshit http://markupboy.com/blog/hours-are-bullshit
redirect 301 /blog/view/thank-you-steve http://markupboy.com/blog/thank-you-steve
redirect 301 /projects/view/front-end-formulation http://markupboy.com/source/front-end-formulation
redirect 301 /projects/view/nearby http://markupboy.com/source/nearby
redirect 301 /blog/view/expressionengine-add-on-templates-made-easy http://markupboy.com/blog/expressionengine-add-on-templates-de-easy
redirect 301 /blog/view/the-social-graph-is-neither http://markupboy.com/blog/the-social-graph-is-neither
redirect 301 /blog/view/new-more-reliable-rss-feed http://markupboy.com/blog/new-more-reliable-rss-feed
redirect 301 /blog/view/alfred-tip-hotkey-a-folder http://markupboy.com/blog/alfred-tip-hotkey-a-folder
redirect 301 /blog/view/eeci-2012 http://markupboy.com/blog/eeci-2012
redirect 301 /projects/view/single-entry http://markupboy.com/source/single-entry
redirect 301 /projects/view/alfred-goes-back-to-your-mac http://markupboy.com/source/alfred-goes-back-to-your-mac
redirect 301 /blog/view/practical-tips-for-custom-plugin-development-eeci-2012 http://markupboy.com/blog/practical-tips-for-stom-plugin-development-eeci-2012
redirect 301 /blog/view/listening-to-dom-events http://markupboy.com/blog/listening-to-dom-events
