- content_for :title, 'Portfolio'
- content_for :category, 'Portfolio'

%section.GR.G4
  %dl.contains-articles
    - blog('portfolio').articles.each do |article|
      %dt
        %time.date= article.date.strftime('%B %e, %Y')
      %dd
        = article.body

        - if article.data.portfolio_url
          %a{ href: article.data.portfolio_url } >View this Project
