<% content_for :title, 'Portfolio' %>
<% content_for :category, 'Portfolio' %>
<section class="GR G4">
  <dl class="contains-articles">
    <% blog('portfolio').articles.each do |article| %>
      <dt>
        <time class="date">
          <%= article.date.strftime('%B %e, %Y') %>
        </time>
      </dt>
      <dd>
        <%= article.body %>
        <% if article.data.portfolio_url %>
          <a href="<%= article.data.portfolio_url %>">>View this Project</a>
        <% end %>
      </dd>
    <% end %>
  </dl>
</section>
