- content_for :title, 'Source'
- content_for :category, 'Source'

%section.GR.G4
  %dl.contains-articles
    - blog('source').articles.each do |article|
      %dt
        %a.title{ href: article.url }= article.title
      %dd
        = article.body
