<% content_for :title, 'Source' %>
<% content_for :category, 'Source' %>
<section class="GR G4">
  <dl class="contains-articles">
    <% blog('source').articles.each do |article| %>
      <dt>
        <a class="title" href="<%= article.url %>">
          <%= article.title %>
        </a>
      </dt>
      <dd>
        <%= article.body %>
      </dd>
    <% end %>
  </dl>
</section>
